.container {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    column-gap: var(--spacers-dp4);
}

.iconContainer {
    display: inline-flex;
}

.loadingIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid var(--colors-grey500);
    border-radius: 50%;
    animation: loading 1.2s infinite;
}

@keyframes loading {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
