.menu {
    height: 330px;
    width: 350px;
    margin: 15px;
    overflow-y: auto;
}

.bordered {
    border-bottom: 1px solid var(--colors-grey400);
}

.divider {
    margin-top: 30px !important;
}